<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsERP.Properties.Settings._2025ConnectionString"
            connectionString="Data Source=SAP2;Initial Catalog=2025;Persist Security Info=True;User ID=sa;Password=Sapsbo2010;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>