@if (ViewBag.perms.Columns.Contains("users") && ViewBag.perms.Rows[0]["users"] == "True")
{
   <h1>hello in my page</h1>
}
 <table class="table table-bordered table-striped" >
     <thead>
         <tr>
             <td>username</td>
             <td>name</td>
             
             <td>action</td>
         </tr>
     </thead>
@foreach (var data in ViewBag.data.Tables[1].Rows)
{
    <tr>
        <td>@data["UserName"]</td>
        <td>@data["Name"]</td>
        <td>@data["Id"]</td>
    </tr>
}
</table>